html {
  height: 100%;
}
body {
  min-height: 100%;
  overflow: hidden;
  color: #fff;
  font-family: 'Homenaje', sans-serif;
  background-color: #000;
}
a {
  color: currentColor;
  transition-duration: 0.4s;
  transition-property: color;
  &:hover {
    color: #6dc;
  }
}
::selection {
  background-color: rgba(#000, 0);
}