$spacer: 4px;
$spacers: ();
@for $i from 0 through 16 {
  $spacers: map-merge($spacers, ($i: $spacer * $i))
}
$font-size: (
  px: (8, 9, 10, 12, 14, 16, 18, 20, 24, 28, 32, 36, 40, 48, 56)
);
$font-sizes: ();
@each $var in map-get($font-size, px) {
  $font-sizes: map-merge($font-sizes, ($var: #{$var}px))
}
$font-weights: ();
@for $i from 1 through 7 {
  $font-weights: map-merge($font-weights, ($i: $i * 100))
}
$margin-values: map-merge($spacers, (a: 'auto'));

$utilities: (
  'align-items': (
    class: 'ai',
    property: align-items,
    values: (
      b: baseline,
      c: center,
      fe: flex-end,
      fs: flex-start,
      s: stretch
    )
  ),
  'background-color': (
    class: 'bgc',
    property: background-color,
    values: $colors
  ),
  'color': (
    class: 'c',
    property: color,
    values: $colors
  ),
  'cursor': (
    class: 'cur',
    property: cursor,
    values: (
      a: auto,
      d: default,
      c: crosshair,
      ha: hand,
      he: help,
      m: move,
      p: pointer,
      t: text
    )
  ),
  'display': (
    class: 'd',
    property: display,
    values: (
      n: none,
      b: block,
      f: flex,
      'if': inline-flex,
      i: inline,
      ib: inline-block,
      li: list-item,
      ri: run-in,
      cp: compact,
      tb: table,
      itb: inline-table,
      tbcp: table-caption,
      tbcl: table-column,
      tbclg: table-column-group,
      tbhg: table-header-group,
      tbfg: table-footer-group,
      tbr: table-row,
      tbrg: table-row-group,
      tbc: table-cell,
      rb: ruby,
      rbb: ruby-base,
      rbbg: ruby-base-group,
      rbt: ruby-text,
      rbtg: ruby-text-group
    )
  ),
  'flex-direction': (
    class: 'fxd',
    property: flex-direction,
    values: (
      c: column,
      cr: column-reverse,
      r: row,
      rr: row-reverse
    )
  ),
  'flex-shrink': (
    class: 'fxsh',
    property: flex-shrink,
    values: (
      0: 0,
    )
  ),
  'flex-wrap': (
    class: 'fxw',
    property: flex-wrap,
    values: (
      n: nowrap,
      w: wrap,
      wr: wrap-reverse
    )
  ),
  'font-size': (
    class: 'fz',
    property: font-size,
    values: $font-sizes
  ),
  'font-weight': (
    class: 'fw',
    property: font-weight,
    values: $font-weights
  ),
  'height': (
    class: 'h',
    property: height,
    values: map-merge(
      $spacers,
      (
        100p: '100%',
        a: 'auto'
      )  
    )
  ),
  'justify-content': (
    class: 'jc',
    property: justify-content,
    values: (
      c: center,
      fe: flex-end,
      fs: flex-start,
      sa: space-around,
      sb: space-between
    )
  ),
  'margin-top': (
    class: 'mt',
    property: margin-top,
    values: $margin-values
  ),
  'margin-bottom': (
    class: 'mb',
    property: margin-bottom,
    values: $margin-values
  ),
  'margin-right': (
    class: 'mr',
    property: margin-right,
    values: $margin-values
  ),
  'margin-left': (
    class: 'ml',
    property: margin-left,
    values: $margin-values
  ),
  'margin-x': (
    class: 'mx',
    property: margin-right margin-left,
    values: $margin-values
  ),
  'margin-y': (
    class: 'my',
    property: margin-top margin-bottom,
    values: $margin-values
  ),
  'margin': (
    class: 'm',
    property: margin,
    values: $margin-values
  ),
  'overflow': (
    class: 'ov',
    property: overflow,
    values: (
      v: visible,
      h: hidden,
      s: scroll,
      a: auto
    )
  ),
  'overflow-x': (
    class: 'ovx',
    property: overflow-x,
    values: (
      v: visible,
      h: hidden,
      s: scroll,
      a: auto
    )
  ),
  'overflow-y': (
    class: 'ovy',
    property: overflow-y,
    values: (
      v: visible,
      h: hidden,
      s: scroll,
      a: auto
    )
  ),
  'pointer-events': (
    class: 'pe',
    property: pointer-events,
    values: (
      a: auto,
      n: none
    )
  ),
  'text-align': (
    class: 'ta',
    property: text-align,
    values: (
      l: left,
      c: center,
      r: right,
      j: justify
    )
  ),
  'text-decoration': (
    class: 'td',
    property: text-decoration,
    values: (
      n: none,
      u: underline,
      o: overline,
      l: line-through
    )
  ),
  'text-transform': (
    class: 'tt',
    property: text-transform,
    values: (
      n: none,
      c: capitalize,
      u: uppercase,
      l: lowercase
    )
  ),
  'white-space': (
    class: 'whs',
    property: white-space,
    values: (
      n: normal,
      p: pre,
      nw: nowrap,
      pw: pre-wrap,
      pl: pre-line
    )
  ),
  'width': (
    class: 'w',
    property: width,
    values: map-merge(
      $spacers,
      (
        100p: '100%',
        a: 'auto'
      )  
    )
  ),
  'word-break': (
    class: 'wob',
    property: word-break,
    values: (
      n: normal,
      k: keep-all,
      ba: break-all
    )
  )
);
