body {
  margin: 0;
  padding: 0;
  letter-spacing: 0.06em;
}
canvas {
  position: absolute;
  inset: 0;
}
.sketch-summary {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 32px;
  color: white;
  font-family: sans-serif;
}
.sketch-title-wrap {
  margin: 0 0 1em;
  font-size: 1em;
  font-weight: 400;
}
.site-title {
  display: block;
}
.sketch-title {
  display: block;
  font-size: 2em;
  font-weight: 700;
}
.sketch-description {
  margin: 0;
  font-size: 0.875em;
  font-weight: 400;
}
.back-home {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 32px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
}
.back-home a {
  height: 2.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: 1em;
  border: 1px solid #fff;
  border-radius: 9999px;
  color: white;
  text-decoration: none;
}
