.content {
  height: 100dvh;
  position: relative;
  z-index: 10;
}
.content-inner {
  max-width: 1200px;
  margin-inline: auto;
  container-type: inline-size;
}
.images {
  display: flex;
  flex-direction: column;
  gap: 25cqw;
  padding-block: 25cqw;
}
.image {
  width: 80%;
  display: block;
  opacity: 0.5;
}
.image:nth-child(2n) {
  margin-left: auto;
}
