.home-content {
  max-width: calc(320px * 5 + 16px * 4);
  margin: 0 auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.home-social-links {
  display: flex;
  gap: 8px;
}
.home-social-links a {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.home-social-links svg {
  fill: currentColor;
}
.sketch-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 16px;
}
:root {
  --sketch-list-item-s: 100%;
  --sketch-list-item-l: 70%;
}
@keyframes sketh-list-item {
  0% {
    background-color: hsl(
      0,
      var(--sketch-list-item-s),
      var(--sketch-list-item-l)
    );
  }
  25% {
    background-color: hsl(
      90,
      var(--sketch-list-item-s),
      var(--sketch-list-item-l)
    );
  }
  50% {
    background-color: hsl(
      180,
      var(--sketch-list-item-s),
      var(--sketch-list-item-l)
    );
  }
  75% {
    background-color: hsl(
      270,
      var(--sketch-list-item-s),
      var(--sketch-list-item-l)
    );
  }
  100% {
    background-color: hsl(
      360,
      var(--sketch-list-item-s),
      var(--sketch-list-item-l)
    );
  }
}
.sketch-list-item {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  color: #000;
  text-decoration: none;
  background-color: #fff;
}
.sketch-list-item:after {
  content: '';
  display: block;
  position: absolute;
  inset: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s;
  animation: sketh-list-item 1.6s infinite;
  animation-timing-function: linear;
}
.sketch-list-item:hover:after {
  opacity: 1;
}
.sketch-list-item-inner {
  height: 100%;
  box-sizing: border-box;
  display: flex;
  padding: 24px;
  flex-direction: column;
  position: relative;
  z-index: 10;
}
.sketch-list-item-title {
  line-height: 1;
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.75rem;
}
.sketch-list-item-description {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 1rem;
}
.sketch-list-item-updated {
  margin-top: auto;
  margin-bottom: 0;
  font-size: 0.75rem;
}
